<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet" />
    <link href="/styles.css" rel="stylesheet" />

</head>
<body>

<h1>Welcome to The Movie Database</h1>

<p>
    This is a simple app demonstrating the usage of an external API and converting the JSON back to Java objects for our usage. Please click on the links below to see it in action.
</p>

<p>
    <a href="now-playing.html" th:href="'/now-playing'">Now Playing in Theatres</a>
</p>

<p>
    <a th:href="'/medium-popular-long-name'">Popular Movies</a>
</p>


</body>
</html>