<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Popular Movies</title>
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet" />
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<a th:href="'/'">Home</a>
<a th:href="'/now-playing'">Now Playing</a>
<h1>Popular movies</h1>

<h3>These movies have an average between 4 and 7...their titles are also at least 10 characters long. </h3>

<div class="container">
<div th:each="movie : ${movies}" class="movie">
    <img width="150px" src="http://www.google.com" th:src="'http://image.tmdb.org/t/p/original' + ${movie.posterPath}"/>
    <span th:text="${movie.title}" class="float"></span>
</div>
</div>


</body>
</html>